[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-wasserspiegel
Exec=harbour-wasserspiegel
Name=Wasserspiegel
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=Wasserspiegel

[X-Sailjail]
OrganizationName=org.timgluz
# ApplicationName does not have to be identical to Name
ApplicationName=harbour-wasserspiegel
# Add the required permissions here (semicolon-separated)
Permissions=Internet;Location
