[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=wasserspiegel
Exec=wasserspiegel
Name=wasserspiegel
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[de]=wasserspiegel

[X-Sailjail]
OrganizationName=org.timgluz
# ApplicationName does not have to be identical to Name
ApplicationName=wasserspiegel
# Add the required permissions here
Permissions=Internet Location
